<div class="container">
  <div class="row mt-5">
    <div class="offset-md-2 col-md-8">
      <form>
        <h1>Orçamentos</h1>
        <!--Empresa Responsável-->
        <div class="card border-secondary mb-3">
          <div class="card-header bg-secondary border-secondary text-center">
            <b>Empresa responsável</b>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Razão social"
                  aria-label="Razão social"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="E-mail de contato"
                  aria-label="E-mail de contato"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Celular / WhatsApp"
                  aria-label="Celular / WhatsApp"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="CPF"
                  aria-label="CPF"
                />
              </div>
            </div>
          </div>
        </div>

        <!--Cliente-->
        <div class="card border-secondary mb-3">
          <div class="card-header bg-secondary border-secondary text-center">
            <b>Cliente</b>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Razão social"
                  aria-label="Razão social"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="E-mail de contato"
                  aria-label="E-mail de contato"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Celular / WhatsApp"
                  aria-label="Celular / WhatsApp"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="CPF"
                  aria-label="CPF"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Endereço"
                  aria-label="Endereço"
                />
              </div>
            </div>
          </div>
        </div>

        <!--Ativo-->
        <div class="card border-secondary mb-3">
          <div class="card-header bg-secondary border-secondary text-center">
            <b>Ativo</b>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nome"
                  aria-label="Nome"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Local do ativo"
                  aria-label="Local do ativo"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Modelo"
                  aria-label="Modelo"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Marca"
                  aria-label="Marca"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Patrimônio / Número de série"
                  aria-label="Patrimônio / Número de série"
                />
              </div>
            </div>
          </div>
        </div>

        <!--Inicio do trabalho-->
        <div class="card border-secondary mb-3">
          <div class="card-header bg-secondary border-secondary text-center">
            <b>Inicio do Trabalho</b>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Horário de início"
                  aria-label="Horário de início"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Localização GPS"
                  aria-label="Localização GPS"
                />
              </div>
            </div>
          </div>
        </div>

        <!--Proposta-->
        <div class="card border-secondary mb-3">
          <div class="card-header bg-secondary border-secondary text-center">
            <b>Proposta</b>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <textarea
                  class="form-control"
                  placeholder="Descrição da solicitação"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <!--Serviços-->
        <div class="card border-secondary mb-3">
          <div
            class="servicos-header card-header bg-secondary border-secondary text-center"
          >
            <b>Serviços a realizar</b>

            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              +
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Código, Nome, Quantidade e Preço unitário
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label"
                          >Recipient:</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="recipient-name"
                        />
                      </div>
                      <div class="mb-3">
                        <label for="message-text" class="col-form-label"
                          >Message:</label
                        >
                        <textarea
                          class="form-control"
                          id="message-text"
                        ></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Fechar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Salvar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Preço unitário</th>
                  <th scope="col">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
