<div class="container">
  <div class="row mt-5">
    <div class="offset-md-2 col-md-8">
      <form>
        <h1>Orçamentos</h1>
        <!--Empresa Responsável-->
        <div class="card border-secondary mb-3">
          <div class="card-header bg-secondary border-secondary text-center">
            <b>Empresa responsável</b>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Razão social"
                  aria-label="Razão social"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="E-mail de contato"
                  aria-label="E-mail de contato"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Celular / WhatsApp"
                  aria-label="Celular / WhatsApp"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="CPF"
                  aria-label="CPF"
                />
              </div>
            </div>
          </div>
        </div>
        <!--Cliente-->
        <div class="card border-secondary mb-3">
          <div class="card-header bg-secondary border-secondary text-center">
            <b>Cliente</b>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Razão social"
                  aria-label="Razão social"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="E-mail de contato"
                  aria-label="E-mail de contato"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Celular / WhatsApp"
                  aria-label="Celular / WhatsApp"
                />
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="CPF"
                  aria-label="CPF"
                />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Endereço"
                  aria-label="Endereço"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
